body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to left, #cdb4db, #a2d2ff);
    color: #333;
  }
  
  .container {
    width: 95%;
    margin: 50px auto;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    padding: 20px;
    width: 50%;
    box-shadow: 0px 0px 15px 5px #bde0fe;
  }
  
  .items-wrap {
    display: block;
    margin: 20px 0;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px 5px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  input {
    border: none;
    padding: 5px;
    border-radius: 5px;
  }
  
  label {
    font-weight: bold;
  }
  
  button {
    padding: 8px;
    background-color: #ffc8dd;
    color: #333;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
  }
  
  button:hover {
    background-color: #ffafcc;
    color: white;
  }
  
  .task {
    background-color: #bde0fe;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
  }
  
  .task span {
    font-weight: bold;
  }
  
  .task .delete {
    color: hotpink;
    cursor: pointer;
    float: right;
  }
  ul{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    border: 2px solid black;
    width: 40%;
    max-height: 80px;
    text-overflow: clip;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    background-image: url('https://cdn4.iconfinder.com/data/icons/social-productivity-line-art-4/128/checkbox-square-unchecked-512.png');
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url('https://static.thenounproject.com/png/1397594-200.png');
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
}
ul li span:hover{
    background: #edeef0;
}
ul li:hover{
    background: #be97d4;
}